* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../src/img/court.jpg);
  background-size: cover;
  background-position: top;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: rgb(56, 56, 58);
  padding: 3rem;
  box-sizing: border-box;
}

.team-content {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid rgb(42, 42, 42);
  position: center;
  display: inline-block;
  top: 4rem;
  left: 4rem;
  text-align: center;
}

.btn {
  border-radius: 10rem;
  margin: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btn:hover {
  background-color: rgb(34, 33, 33);
  color: #fff;
  cursor: pointer;
}
